/*
    virus style
 */

.virus {
  background: #9b81b9;
  padding: 136px 0;

  @include mq(lg) {
    padding: 85px 0;
  }

  @include mq(md) {
    padding: 50px 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 9;

    @include mq(md) {
      flex-wrap: wrap;
    }

    &-text {
      width: 41%;
      max-width: 457px;
      margin-left: 8.5%;

      @include mq(lg) {
        margin-left: 0;
      }

      @include mq(md) {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
      }

      h3 {
        color: #02132a;
        text-align: center;
        order: 1;
      }

      p {
        font-family: $c, sans-serif;
        font-size: 20px;
        color: #fff;
        text-align: center;
        line-height: 1.5;
        order: 2;

        &:nth-child(2) {
          margin: 33px 0 10px;
        }
      }
    }

    figure.clip {

      @include mq(md) {
        margin: 0 auto;
        padding-bottom: 43.3%;
      }

      @include mq(s) {
        padding-bottom: 58%;
      }
    }


    picture {
      width: 150%;
      max-width: 1702px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;

      @include mq(lg) {
        display: none;
      }

      @include mq(md) {
        display: block;
        width: 100%;
        max-width: 260px;
        margin: 20px auto 30px;
        position: static;
        transform: none;
      }
    }
  }
}