/*
    information style
 */

.information {
  background: linear-gradient(to right, #f8d8d9 50%, #ffedeb 50%);
  padding: 299px 0 335px;
  margin-top: -92px;
  position: relative;

  @include mq(md) {
    background: none;
    padding: 0 0;
    margin-top: 0;
  }

  .container {
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 20;

    @include mq(md) {
      width: 100%;
      display: block;
      z-index: 1;
    }
  }

  h3 {
    color: #f82753;
    text-align: center;
  }

  .review {
    box-sizing: border-box;
    width: 50%;
    padding: 0 85px;

    @include mq(lg) {
      padding: 0;
    }

    @include mq(md) {
      width: 100%;
      background: #f8d8d9;
      padding: 139px 0 16px;
      position: relative;
    }

    h3 {

      @include mq(md) {
        max-width: 50%;
        margin: 0 auto;
      }

      @include mq(xs) {
        width: 100%;
        max-width: 290px;
      }

      &:before {
        content: "";
        display: block;
        width: 126px;
        height: 124px;
        background: url("../img/decor/information/1.png") no-repeat center/cover;
        position: absolute;
        top: 249px;
        left: -339px;

        @include mq(md) {
          top: 0;
          left: calc(100% - 112px);
        }
      }
    }

    .review__content {
      position: relative;
      margin-top: 43px;

      @include mq(md) {
        max-width: 720px;
        margin: 43px auto 0;
        position: relative;
      }

      @include mq(s) {
        width: 94%;
      }

      @include mq(xs) {
        width: 93%;
        min-width: 300px;
      }

      .slider {
        position: relative;
        z-index: 12;

        figure {
          box-sizing: border-box;
          width: 96%;
          max-width: 378px;
          padding: 45px 30px 83px;
          background: #ffedeb;
          border-radius: 10px;
          margin: 0 auto;
          position: relative;

          @include mq(md) {
            max-width: 600px;
          }

          @include mq(s) {
            width: 100%;
            padding: 45px 15px 83px;
          }

          p {
            font-family: $c, sans-serif;
            font-size: 20px;
            color: #444;
            line-height: 1.5;
            margin-bottom: 20px;
          }

          &:before {
            content: "";
            display: block;
            width: 24px;
            height: 18px;
            background: url("../img/quotes.png") no-repeat center/contain;
            position: absolute;
            top: 20px;
            right: 20px;
          }
        }

        ul.slick-dots {
          margin: 0;
          position: absolute;
          bottom: 41px;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .nav {
        width: 100%;
        max-width: 225px;
        bottom: 31px;
        pointer-events: none;
        z-index: 12;

        .review-next {
          transform: scale(-1, 1);
        }
      }

      &:before {
        content: "";
        display: block;
        width: 367px;
        height: 307px;
        background: url("../img/decor/information/pink.png") no-repeat center/cover;
        position: absolute;
        top: -78px;
        left: -321px;
        z-index: 11;

        @include mq(md) {
          width: 191px;
          height: 161px;
          top: -67px;
          left: -77px;
        }
      }
    }

    img.wave {
      display: none;

      @include mq(md) {
        display: block;
        bottom: -350px;
        left: -696px;
        z-index: 10;

      }

      @include mq(s) {
        bottom: -350px;
        left: -1065px;
      }

      @include mq(xs) {
        bottom: -350px;
        left: -1194px;
      }
    }
  }

  .delivery {
    box-sizing: border-box;
    width: 50%;
    padding: 0 90px;

    @include mq(md) {
      width: 100%;
      padding: 100px 0 31px;
      background: #ffedeb;
      position: relative;
      //padding: 0 0 0 30px;
    }

    h3 {

      @include mq(md) {
        position: relative;
      }

      &:before {
        content: "";
        display: block;
        width: 66px;
        height: 77px;
        background: url("../img/decor/information/3.png");
        position: absolute;
        top: 320px;
        left: calc(100% + 221px);

        @include mq(md) {
          top: -62px;
          left: -10px;
        }
      }
    }

    &__content {
      margin-top: 43px;

      @include mq(md) {
        max-width: 720px;
        margin: 43px auto 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 20;
      }

      @include mq(s) {
        width: 94%;
        flex-wrap: wrap;
        position: relative;
      }

      @include mq(xs) {
        width: 93%;
        min-width: 300px;
      }

      //position: relative;

      figure {
        box-sizing: border-box;
        width: 100%;
        padding: 21px 12px 29px 30px;
        background: #fbe1e2;
        box-shadow: 0px 5px 9.5px 0.5px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        @include mq(md) {
          width: 32%;
        }

        @include mq(s) {
          width: 100%;
          max-width: 380px;
          margin: 0 auto;
        }

        h5 {
          position: relative;
          padding-left: 35px;

          &:before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
          }
        }

        p {
          font-family: $c, sans-serif;
          font-size: 18px;
          color: #222;
          margin-top: 11px;
        }

        &:nth-child(1) {
          position: relative;

          h5{

            &:before {
              width: 18px;
              height: 24px;
              background: url("../img/delivery/1.png") no-repeat center/cover;
            }
          }

          &:before {
            content: "";
            display: block;
            width: 196px;
            height: 449px;
            background: url("../img/decor/information/white.png") no-repeat center/cover;
            position: absolute;
            top: 0;
            left: calc(100% + 51px);

            @include mq(md) {
              display: none;
            }
          }
        }

        &:nth-child(2) {
          margin: 20px auto;

          @include mq(md) {
            margin: 0;
          }

          @include mq(s) {
            margin: 30px auto;
          }

          h5 {

            &:before {
              width: 24px;
              height: 18px;
              background: url("../img/delivery/2.png") no-repeat center/cover;
            }
          }
        }

        &:nth-child(3) {

          @include mq(md) {
            z-index: 9;
          }

          h5 {

            &:before {
              width: 24px;
              height: 24px;
              background: url("../img/delivery/3.png") no-repeat center/cover;
            }
          }
        }
      }

      &:before {
        content: "";
        display: block;
        width: 366px;
        height: 418px;
        background: url("../img/decor/information/gold.png") no-repeat center/cover;
        position: absolute;
        top: 332px;
        right: calc(100% - 35px);

        @include mq(md) {
          width: 190px;
          height: 216px;
          top: -194px;
          right: -105px;
          z-index: 50;
        }

        @include mq(xs) {
          top: -174px;
        }
      }

      &:after {
        content: "";
        display: block;
        width: 101px;
        height: 77px;
        background: url("../img/decor/information/2.png") no-repeat center/cover;
        position: absolute;
        top: -50px;
        right: -87px;
        z-index: 1;

        @include mq(md) {
          top: calc(100% - 46px);
          right: -40px;
        }
      }
    }

    img.wave {
      display: none;

      @include mq(md) {
        display: block;
        bottom: -345px;
        left: -637px;
      }

      @include mq(s) {
        left: -542px;
      }

      @include mq(xs) {
        left: -414px;
      }
    }
  }
}