/*
    general style
 */

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
}

body {
  font-family: $c, sans-serif;
  font-size: 16px;
  color: #222;
  line-height: 1.2;
}

.container {
  width: 1140px;
  margin: 0 auto;

  //@include mq(xlg) {
  //  width: 1140px;
  //}

  @include mq(lg) {
    width: 960px;
  }

  @include mq(md) {
    width: 720px;
  }

  @include mq(s) {
    width: 94%;
  }

  @include mq(xs) {
    width: 93%;
    min-width: 300px;
  }
}

a {
  display: block;
  text-decoration: none;
  text-align: center;

  &:active, &:focus {
    outline: none;
  }
}

img {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  user-select: none;
}

.price {

  span {

    &.old-price {
      font-family: $c, sans-serif;
      font-size: 24px;
      color: #666;
      display: inline-block;
      position: relative;
      margin-right: 29px;

      &:after {
        content: "";
        display: block;
        width: 105%;
        height: 2px;
        background: #ff0000;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%) skewY(-5deg);
      }
    }

    &.new-price {
      font-family: $cb, sans-serif;
      font-size: 30px;
      color: #f82753;
    }
  }
}

figure.order {
  width: 100%;
  max-width: 320px;

  a {
    font-family: $cb, sans-serif;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    box-sizing: border-box;
    width: 100%;
    padding: 19.5px 0;
    background: #f94b70;
    border-radius: 30px;
    transition: all 0.75s ease-out;

    &:hover {
      background: #f0247a;
    }
  }
}

p.stock {
  font-family: $cb, sans-serif;
  font-size: 18px;
  color: #444;
  text-align: center;
  margin-top: 10px;

  output {
    color: #f82753;
  }
}


img.wave {
  position: absolute;
}

.decor {
  position: absolute;
  transition: all 1s linear;

  img {
    margin: 0;
  }
}

h3 {
  font-family: $c, sans-serif;
  font-size: 36px;
  color: #3f3f69;
  text-transform: uppercase;
  line-height: 1.333;
  //margin-top: -9px;

  @include mq(lg) {
    font-size: 32px;
  }

  @include mq(xs) {
    font-size: 30px;
  }
}

h5 {
  font-family: $c, sans-serif;
  font-size: 24px;
  color: #3f3f69;
  line-height: 1.167;
  //margin-top: -4px;
}

.arrow {
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  background-image: url("../img/arrow.png");
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  pointer-events: auto;

  &:hover {
    background-color: #fff;
  }
}

ul.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  li {
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    background: transparent;
    border: 2px solid #f94b70;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    position: relative;
    z-index: 9;

    &.slick-active {
      background: #f94b70;
    }

    button {
      display: none;
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

figure.clip {
  width: 100%;
  max-width: 555px;
  padding-bottom: 27.37%;
  background: #767676;
  border-radius: 10px;
  position: relative;

  img {
    width: 100%;
  }
}