/*
    font face
 */

@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa.woff");
}
$c : "Comfortaa";

@font-face {
  font-family: "Comfortaa-Bold";
  src: url("../fonts/Comfortaa-Bold.woff");
}
$cb : "Comfortaa-Bold";

@font-face {
  font-family: "Veles-Bold";
  src: url("../fonts/Veles-Bold.woff");
}
$vb : "Veles-Bold";

@font-face {
  font-family: "Veles-Regular";
  src: url("../fonts/Veles-Regular.woff");
}
$vr : "Veles-Regular";